<div class="container" id="home-container">
  <div class="hero-wrapper">
  <%= image_tag("WTF DANCE SITE SQUARE.png", class: "hero-image") %>
  </div>
  <br><br><br>



  <div class="button-wrapper d-grid data-control-wrapper">
  <div class="btn btn-dark d-gridgap-2">
  <%= link_to 'Login!', login_path, :class => "btn text-light" %>
    </div>
    <br>
    <br>
   <div class="btn btn-success d-gridgap-2">
  <%= link_to 'Sign up!', signup_path, :class => "btn text-light" %>
    </div>
    <br>
    <br>
    <div class="btn btn-primary gap-2">
  <%= link_to 'View Events', events_path, :class => "btn text-light" %>
    </div>
    <br>
    <br>
    <div class="btn btn-info gap-2">
   <%= link_to 'View Artists', artists_path, :class => "btn text-light" %>
    </div>
    <br>
    <br>
</div>
</div>
</div>
</div>