<!DOCTYPE html>
  <html>
    <head>
      <title>Dancewise</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <meta name="turbo-visit-control" content="reload">

      <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": 'reload' %>
      <%= stylesheet_link_tag 'custom.css', media: 'all', "data-turbo-track": 'reload' %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>  
      <%= hotwire_livereload_tags if Rails.env.development? %>

      <meta name="viewport" content="width=device-width,initial-scale=1">
            
      <script async="false" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :maps_api_key) %>&libraries=places&callback=initMap" async defer data-turbo-eval="false"></script>
      

      <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>

       <script src="https://cdn.tiny.cloud/1/bgu49ldm472gnpgcdgcl2lf5xmiug9mqru8566yvq9n247zw/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
          tinymce.init({
            selector: '.tinymce',
            height: 500,
            menubar: "insert",
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code wordcount textcolor colorpicker'
            ],
              toolbar: 'undo redo | formatselect | ' +
              ' bold italic forecolor link | alignleft aligncenter ' +
              ' alignright | bullist numlist outdent indent | ' +
              ' removeformat ',
               default_link_target: "_blank",
               link_context_toolbar: true
          });
 </script>
          
    </head>

  <body>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
  </body>
</html>